@import 'variables.scss';

.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  min-height: 60vh;
  width: 100%;
  height: 100%;
  padding: 10rem 2rem;
  background-image: linear-gradient(to right bottom, #60ccf3 50%, rgba(96, 204, 243, 0.8));
}

.team-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3rem;
  padding: 1.7rem;
  height: 26rem;
  width: 26rem;
  background-color: $color-dark-blue2;
  border: 6px solid $color-dark-blue;
  border-radius: 50%;
  text-align: center;
  color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    border-color: $color-dark-pink;
    color: $color-dark-pink;
  }

  &_plus {
    font-size: 7rem;
  }

  &_name {
    font-size: 3.5rem;
  }

  &_sport {
    font-size: 3rem;
    font-style: italic;
  }

}

@media (max-width: 1024px) {
  .team-box {
    width: 20rem;
    height: 20rem;

    &_plus {
      font-size: 5rem;
    }

    &_name {
      font-size: 3rem;
    }

    &_sport {
      font-size: 2.5rem;
      font-style: italic;
    }
  }
}

@media (max-width: 768px) {
  .teams-container {
    min-height: 65vh;
  }

  .team-box {
    width: 17rem;
    height: 17rem;

    &_plus {
      font-size: 4.5rem;
    }

    &_name {
      font-size: 2.5rem;
    }

    &_sport {
      font-size: 2rem;
      font-style: italic;
    }
  }
}

@media (max-width: 425px) {
  .teams-container {
    min-height: 70vh;
  }
}
