@import 'variables.scss';


.container {
  padding: 5rem;
  background-color: $color-light-blue;
}

.team-name {
  font-size: 5rem;
  text-align: center;
}

.team-info {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.team-form {
  &-container_img {
    width: 20rem;
    height: 20rem;
    border: 5px solid #212428;
    border-radius: 50%;
  }

  &-img {
    height: 100%;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}

.team-games {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  min-width: 45rem;
  padding: 2rem;
  background: linear-gradient(to right bottom, #264c72 50%, #2f3c49 100%);
  color: white;
  border: 5px solid $color-dark-pink;

  &-title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.team-nextgame {
  font-size: 2.5rem;
  text-align: center;
  font-style: italic;
}

.stats {
  width: 100%;

  &-title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 10rem;
  }

  &-table-container {
    margin: 15rem 0;
    width: 100%;
    height: 30rem;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-table {
    border: 5px solid $color-dark-pink;
    border-spacing: 0;
  }

  &-tr {
    background-color: rgb(183, 194, 206);
  }

  &-th,
  &-td {
    padding: 2rem;
    text-align: center;
    width: 12rem;
    height: 8rem;
  }

  &-th {
    text-transform: uppercase;
    background: linear-gradient(to right bottom, #264c72 50%, #2f3c49 100%);
    color: white;
  }

  &-th:not(:last-child) {
    border-right: 2px solid black;
  }

  &-td:not(:last-child) {
    border-right: 2px solid grey;
  }

  &-tr:nth-child(odd) {
    background-color: rgb(202, 225, 231);
  }

  &-name {
    font-weight: bold;
  }

}

.players {
  width: 100%;

  &Title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 10rem;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
  }
}

.player {
  &-file {
    &-container_img {
      width: 17rem;
      height: 17rem;
      border: 5px solid #212428;
      border-radius: 50%;
      transition: all .3s;

      &:hover {
        border-color: $color-dark-pink;
        transform: scale(1.1);
      }
    }

    &-img {
      height: 100%;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }

    &-name {
      font-size: 3rem;
      text-align: center;
      margin-top: 1rem;
    }
  }


}
