<app-navbar [status]="'end'" [route]="'/userTeams'" [showBack]="true"></app-navbar>

<div class="container">

  <h3 class="team-name">{{teamInfo?.name}}</h3>
  <div class="team-info">
<div>
    <figure class="team-form-container_img">
      <img src="/assets/img/genericShield.jpg"
           alt="Escudo"
           class="team-form-img" />
    </figure>
</div>
    <div class="team-games">
      <h3 class="team-games-title">Proximo partido</h3>
      <hr class="hr">
      <p *ngIf="nextGame === undefined" class="team-nextgame">No hay próximos partidos</p>
      <p *ngIf="nextGame != null" class="team-nextgame">{{nextGame.matchDate | date:'dd/MM/yyyy'}} vs {{nextGame.rivalTeam}}</p>
      <hr class="hr">
    </div>
  </div>

  <div class="buttons">
    <a class="btn btn-dark btn-big pad" [routerLink]="['/team/', teamId, 'games']" >Rellenar partido</a>
    <button class="btn btn-dark btn-big pad">Añadir partido</button>
  </div>

  <app-table-info-team *ngIf="games && games.length" [games]="games"></app-table-info-team>
  <span *ngIf="!games || !games.length">No hay estadísticas.</span>

  <h4 class="stats-title">Estadísticas</h4>

  <app-table-info-players></app-table-info-players>

  <div class="players">
    <h4 class="playersTitle">Jugadores</h4>
    <div class="playersList">
      <div class="player-file"
           *ngFor="let player of players | async">
        <a [routerLink]="['/team/', teamId, 'players', player.playerId]">
          <figure class="player-file-container_img">
            <img class="player-file-img"
                 src="../../../assets/img/avatar-generico.png"
                 alt={{player.playerName}}>
          </figure>
        </a>
        <h6 class="player-file-name">{{player.playerName}}</h6>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
