@import 'variables.scss';


.container {
  padding: 5rem;
  background-color: $color-light-blue;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 10rem 0;
}

.btn-big {
  font-size: 3rem;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.747);
  ;

  &:active {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.747);
  }

  &:focus {
    outline: none;
  }
}

.pad {
  padding: 2rem;
}

.team-name {
  font-size: 5rem;
  text-align: center;
}

.team-info {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.team-form {
  &-container_img {
    width: 20rem;
    height: 20rem;
    border: 5px solid #212428;
    border-radius: 50%;
  }

  &-img {
    height: 100%;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}

.team-games {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  min-width: 45rem;
  padding: 2rem;
  background: linear-gradient(to right bottom, #264c72 50%, #2f3c49 100%);
  color: white;
  border: 5px solid $color-dark-pink;

  &-title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.team-nextgame {
  font-size: 2.5rem;
  text-align: center;
  font-style: italic;
}

.stats-title {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10rem;
}

.players {
  width: 100%;

  &Title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 10rem;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
  }
}

.player {
  &-file {
    &-container_img {
      width: 17rem;
      height: 17rem;
      border: 5px solid #212428;
      border-radius: 50%;
      transition: all .3s;

      &:hover {
        border-color: $color-dark-pink;
        transform: scale(1.1);
      }
    }

    &-img {
      height: 100%;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }

    &-name {
      font-size: 3rem;
      text-align: center;
      margin-top: 1rem;
    }
  }
}

@media (max-width: 1300px) {
  .container {
    padding: 3rem;
  }

  .team-games {
    min-width: 1rem;
    width: 40rem;
  }
}

@media (max-width: 1024px) {
  .team-form {
    &-container_img {
      width: 15rem;
      height: 15rem;
    }
  }

  .team-games {
    width: 35rem;


    &-title {
      font-size: 3rem;
    }
  }

  .team-nextgame {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 2rem;
  }

  .team-info {
    flex-direction: column;
  }

  .team-form {
    &-container_img {
      margin-bottom: 5rem;
    }
  }
}
