@import 'variables.scss';


.container {
  padding: 5rem;
  background-color: $color-light-blue;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 10rem 0;
}

.btn-big {

  font-size: 3rem;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.747);
  transition: all .1s;

  &:active {
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.747);
    transform: translateY(5px);
  }

  &:focus {
    outline: none;
  }
}

.pad {
  padding: 2rem;
}

.team {
  margin: 5rem auto 10rem auto;
  height: 10rem;
  background-color: #3b556f;
  width: 100%;
  border: 4px solid #2f3c49;
}

.team-name {
  font-size: 5rem;
  text-align: center;
  color: white;
  position: relative;
  transform: translateY(25%);
}

.team-info {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.team-form {
  &-container_img {
    width: 20rem;
    height: 20rem;
    border: 5px solid #212428;
    border-radius: 50%;
  }

  &-img {
    height: 100%;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}

.team-games {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  min-width: 45rem;
  padding: 2rem;
  background: linear-gradient(to right bottom, #264c72 50%, #2f3c49 100%);
  color: white;
  border: 5px solid $color-dark-pink;

  &-title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.team-nextgame {
  font-size: 2.5rem;
  text-align: center;
  font-style: italic;
}

.stats-title {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 15rem;
}

.newGame {

  &-form {
    display: flex;
    justify-content: center;
  }

  &-panel {
    width: 75%;
    margin-bottom: 0;
  }

  &-buttons {
    margin-top: -10rem;
    margin-bottom: 2rem;
  }
}

.players {
  width: 100%;

  &Title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 10rem;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
  }
}

.player {
  &-file {

    display: flex;
    flex-direction: column;
    align-items: center;

    &-container_img {
      width: 17rem;
      height: 17rem;
      border: 5px solid #212428;
      border-radius: 50%;
      transition: all .3s;

      &:hover {
        border-color: $color-dark-pink;
        transform: scale(1.1);
      }
    }

    &-img {
      height: 100%;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }

    &-name {
      font-size: 3rem;
      text-align: center;
      margin-top: 1rem;
    }
  }
}

.noData {
  width: 100%;
  display: flex;
  justify-content: center;

  &-table {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    background-color: #264c72;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.747);
    width: 50%;
    height: 15rem;
  }

  &-text {
    width: 100;
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
  }
}

@media (max-width: 1300px) {
  .container {
    padding: 3rem;
  }

  .team-games {
    min-width: 1rem;
    width: 40rem;
  }
}

@media (max-width: 1024px) {
  .stats-title {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    margin-top: 10rem;
  }

  .team-form {
    &-container_img {
      width: 15rem;
      height: 15rem;
    }
  }

  .team-games {
    width: 35rem;


    &-title {
      font-size: 3rem;
    }
  }

  .team-nextgame {
    font-size: 2rem;
  }

  .team-name {
    font-size: 4rem;
  }

  .player {
    &-file {
      &-container_img {
        width: 15rem;
        height: 15rem;
      }

      &-name {
        font-size: 2.5rem;
      }
    }

  }

  .playersList {
    margin: 8rem 0;
  }

  .btn-big {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 2rem;
  }

  .team-info {
    flex-direction: column;
  }

  .team-form {
    &-container_img {
      margin-bottom: 5rem;
    }
  }

  .player {
    &-file {
      &-container_img {
        width: 14rem;
        height: 14rem;
      }
    }
  }

  .stats-title {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .team-name {
    font-size: 3.7rem;
  }

  .player {
    &-file {
      &-container_img {
        width: 12rem;
        height: 12rem;
      }

      &-name {
        font-size: 2rem;
      }
    }
  }

  .newGame {
    &-panel {
      width: 95%;
    }
  }

  .stats-title {
    font-size: 3.7rem;
    margin-bottom: -3rem;
  }

  .btn-big {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  .team-nextgame {
    font-size: 1.5rem;
  }

  .team-games {
    width: 25rem;

    &-title {
      font-size: 2.5rem;
    }
  }

  .player {
    &-file {
      &-container_img {
        width: 10rem;
        height: 10rem;
      }

      &-name {
        font-size: 1.7rem;
      }
    }
  }

  .stats-title {
    font-size: 3.3rem;
  }

  .btn-big {
    font-size: 1.5rem;
  }

}
