<div class="basket-average mb-5">
  <div class="basket-field">
    <label for=""
           class="basket-field-label">Puntos</label>
    <input type="number"
           name="points"
           class="input basket-field-input" />
  </div>
  <div class="basket-field">
    <label for=""
           class="basket-field-label">%FG</label>
    <input type="number"
           name=""
           class="input basket-field-input" />
  </div>
  <div class="basket-field">
    <label for=""
           class="basket-field-label">%3P</label>
    <input type="number"
           name=""
           class="input basket-field-input" />
  </div>
  <div class="basket-field">
    <label for=""
           class="basket-field-label">%FT</label>
    <input type="number"
           name=""
           class="input basket-field-input" />
  </div>
</div>
