.players {
  &-form {
    width: 100%;
    height: 100%;
  }

  &-data {
    display: flex;
    flex-direction: column;
  }
}

.player-field-new {
  background-color: rgb(215, 229, 235);
  height: 100%;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: 3px solid black;
  cursor: pointer;

  &:hover {
    border-color: #da387d;
  }

  &-title {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.add-btn {
  background-color: rgb(215, 229, 235);
  width: 100%;
  height: 6.5rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: 3px solid black;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;

  &:hover {
    border-color: #da387d;
    color: #da387d;
  }

  &:focus {
    outline: none;
  }
}
