<nav class="navbar">

  <div class="logo">
    <a href="#">
      <img src="../../../assets/img/logo.svg" alt="logo" class="logo-img">
    </a>
    <h2 class="logo-title">sporstats</h2>
  </div>

  <div class="session">
    <a href="#" [routerLink]="[ '/login']" class="btn btn-light-empty">Iniciar sesión</a>
    <a href="#" [routerLink]="[ '/register']" class="btn btn-pink">Registrarse</a>
  </div>

</nav>

<div class="home-container">

  <header class="header mb-5">
    <div class="header-left-side">
      <h1 class="header-main-title mb-5">Lleva a tu equipo al siguiente nivel</h1>
      <p class="header-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eum atque ab vel culpa odio deleniti dolores. Quae, quibusdam exercitationem ipsa, nihil modi optio fugiat et repudiandae suscipit quod voluptas! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur voluptatem repudiandae delectus nobis autem dignissimos accusantium, error reiciendis minus? Eius voluptatem excepturi mollitia voluptas itaque ex dolorum praesentium vel voluptates?</p>
    </div>
    <div class="header-right-side">
      <img src="../../../assets/img/basketball-player.jpg" alt="basketball player" class="header--img">
    </div>
  </header>

  <section class="section">
    .
  </section>

  <footer class="footer">
    .
  </footer>
  
</div>



