.court {


  &-stats {
    height: 50rem;
    width: 100rem;
    background-image: url('../../../assets/img/half-basketball-court.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.stat {}
