.container {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0.5), rgba(219, 219, 219, 0.9)),
    url(/assets/img/football-team.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.form-container {
  padding: 10rem 10rem;
  width: 60%;
  height: 100%;
  background-image: linear-gradient(to bottom, #2392bb, rgb(96, 204, 243));
  border-radius: 2rem;
  border: 5px solid black;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.425);
  opacity: 95%;
}

.hr-form {
  border: 2px solid #212428;
}

.form-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #212428;
  text-transform: uppercase;
}

.player {

  &-field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(215, 229, 235);
    height: 100%;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    border: 3px solid black;
    min-height: 35vh;

  }

  &-img {
    width: 20rem;
    height: 20rem;
    border: 5px solid #212428;
    border-radius: 50%;

    &-img {
      height: 100%;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-items: left;
  }

  &-data:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &-label {
    margin-right: 2.5rem;
    font-size: 1.9rem;
    font-weight: bold;
    display: inline-block;
    width: 15rem;
  }

  &-input {
    width: 15rem;
    height: 3.5rem;

    &:hover,
    &:focus {
      border-color: #da387d;
      ;
    }
  }

  &-input-number {
    width: 5rem;

    &:hover,
    &:focus {
      border-color: #da387d;
      ;
    }
  }

  &-label-file {
    display: inline-block;
    width: 17rem;
    height: 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 0.5rem;
    border: 3px solid black;
    background-color: #3b556f;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: rgba(58, 191, 240, 0.8);
    }
  }

  &-input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

}

.matches {
  width: 100%;

  &-data {
    display: flex;
    flex-direction: column;
  }

  &-field {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    border: 3px solid black;
    background-color: rgb(215, 229, 235);

    &-new {
      background-color: rgb(215, 229, 235);
      height: 100%;
      padding: 1rem 1.5rem;
      border-radius: 1.5rem;
      border: 3px solid black;

      &:hover {
        border-color: #da387d;
        cursor: pointer;
      }
    }

    &-new-title {
      font-size: 2.5rem;
      font-weight: bold;
    }

  }

}

.match {
  &-data {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-label {
    font-size: 1.9rem;
    font-weight: bold;
    margin-right: 2rem;
  }

  &-input {}
}

.buttons {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: #3d3d3d;
}

@media (max-width: 1600px) {
  .container {
    padding: 8rem 0;
  }

  .form-container {
    width: 70%;
  }
}


@media (max-width: 1440px) {
  .container {
    padding: 4rem 0;
  }

  .form-container {
    width: 90%;
  }

  .team-form-label {
    font-size: 1.7rem;
    margin-right: 2.5rem;
  }
}


@media (max-width: 1024px) {

  .basket-field {

    &-input {
      height: 3rem;
      font-size: 1.2rem;
    }
  }

  .form-title {
    font-size: 3.5rem;
  }

  .player {
    &-label {
      font-size: 1.5rem;
    }

    &-input {
      height: 3rem;
      font-size: 1.6rem;
    }

    &-input-number {
      height: 3rem;
      font-size: 1.2rem;
    }
  }

}

@media (max-width: 850px) {

  .player {
    &-field {
      flex-direction: column;
      min-height: 50vh;
    }

    &-field-new-title {
      font-size: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .form-container {
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 8rem 5rem;
  }

  .form-title {
    font-size: 3.5rem;
  }
}

@media (max-width: 550px) {

  .form-title {
    font-size: 3rem;
  }

  .form-container {
    padding: 7rem 3rem;
  }

  .player {
    &-field {
      padding-top: 3rem;
    }

    &-data {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      min-height: 10vh;
    }
  }
}
