<!-- NAVBAR -->
<app-navbar [status]="'end'"
            [route]="'/userTeams'"
            [showBack]="true"></app-navbar>

<!-- MAIN BODY -->
<div class="container">

  <form [formGroup]="form"
        class="form-container">

    <h4 class="form-title">Equipo</h4>
    <hr class="hr-form mb-5" />

    <app-info-team [form]="formTeam"></app-info-team>


    <h4 class="form-title">Media de la Liga</h4>
    <hr class="hr-form mb-5" />

    <app-info-league [form]="formLeague"></app-info-league>

    <h4 class="form-title">Jugadores</h4>
    <hr class="hr-form mb-5" />

    <app-info-players [form]="formPlayers"></app-info-players>


    <h4 class="form-title">Partidos</h4>
    <hr class="hr-form mb-5" />

    <app-info-games [form]="formGames"></app-info-games>


    <div class="buttons">
      <a class="btn btn-pink btn-shadow m-2"
         [routerLink]="['/user-teams']">Cancelar</a>
      <button class="btn btn-dark btn-shadow m-2"
              (click)="onSaveTeam()"
              [disabled]="!formTeam.valid || !formLeague.valid || !formPlayers.valid">Guardar</button>
    </div>

    <div class="error" *ngIf="!haveEnoughPlayers">
      <p class="error-paragraph">El equipo debe tener al menos 5 jugadores</p>
    </div>
  </form>
</div>

<app-footer></app-footer>
