<div class="container-session">
  <form [formGroup]="registerForm"
        (ngSubmit)="register()"
        class="form-session form-session animated fadeInLeft">
    <div class="logo">
      <a [routerLink]="['/home']">
        <img src="/assets/img/logo.svg"
             alt="logo"
             class="logo-img">
      </a>
      <p class="logo-title">sportstats</p>

    </div>

    <label for="name"
           class="form-session-label">Nombre</label>
    <span class="wrong"
          *ngIf="name.invalid && (name.dirty || name.touched)">Debe contener al menos 2 letras</span>
    <input type="text"
           class="input form-session-input"
           formControlName="name">

    <label for="email"
           class="form-session-label">Email</label>
    <span class="wrong"
          *ngIf="email.invalid && (email.dirty || email.touched)">No es un email válido</span>
    <input type="email"
           class="input form-session-input"
           formControlName="email">

    <label for="password"
           class="form-session-label">Contraseña</label>
    <span class="wrong"
          *ngIf="password.invalid && (password.dirty || password.touched)">Debe contener al menos 6 letras</span>
    <input type="password"
           class="input form-session-input"
           formControlName="password">

    <button type="submit"
            [disabled]="registerForm.invalid"
            class="form-session-submit btn">Registrarse</button>
    <span class="wrong"
          *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched)">Debe rellenar todos los
      campos</span>
    <hr>
    <p class="form-session-text">¿Ya te registraste? <a [routerLink]="[ '/login']"
         class="form-session-link">Inicia sesión aquí</a></p>
    <p class="form-session-text"><a [routerLink]="[ '/home' ]"
         class="form-session-link">Volver al inicio</a></p>
  </form>
</div>
