.bar-charts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.bar-chart {
  width: 45%;
}

.bar-chart-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
