<div class="container-session">
  <div class="form-session">
    <div class="logo">
      <a href="" [routerLink]="['/home']">
        <img src="../../../assets/img/logo.svg" alt="logo" class="logo-img">
      </a>
      <p class="logo-title">sportstats</p>
      
    </div>
    <label for="name" class="form-session-label">Nombre</label>
    <input type="text" class="input form-session-input">
    <label for="password" class="form-session-label">Contraseña</label>
    <input type="password" class="input form-session-input">
    <button type="submit" class="form-session-submit btn">Iniciar sesión</button>
    <hr>
    <p class="form-session-text">¿No tienes cuenta? <a href="#" [routerLink]="[ '/register']" class="form-session-link">Registrate</a></p>
    <p class="form-session-text"><a [routerLink]="[ '/home' ]" class="form-session-link">Volver al inicio</a></p>
  </div>
</div>