<header class="teams-header">
  <div class="logo">
    <a routerLink="/">
      <img src="/assets/img/logo.svg"
           alt="logo"
           class="logo-img">
    </a>
    <h2 class="logo-title">sporstats</h2>
  </div>
  <button (click)="exit()" class="btn btn-pink">Logout</button>
</header>

<div class="teams-container">
  <a class="team-box" [routerLink]="['/createTeam']">
    <h4 class="team-box_name">Añadir equipo</h4>
    <p class="team-box_plus">+</p>
  </a>

  <a
    class="team-box"
    *ngFor="let team of teams | async"
    [routerLink]="['/team']"
  >
    <h4 class="team-box_name">{{ team.name }}</h4>
    <p class="team-box_sport">{{ team.sport }}</p>
  </a>
</div>

<footer class="footer">
  .
</footer>
