@import 'variables.scss';

.container {
  background-color: $color-light-blue;
  height: 90vh;
  padding: 10rem;
}

.select {

  &-container {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  &-form {
    display: block;
    height: 4rem;
    width: 30rem;
    background-color: $color-dark-blue;
    border: 3px solid $color-dark-pink;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

}

.player {

  &-form {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    background-color: rgb(215, 229, 235);
    border-radius: 2rem;
    padding: 4rem;
  }

  &-info {
    display: flex;
    align-items: center;
  }

  &-container_img {
    width: 10rem;
    height: 10rem;
    border: 3px solid #212428;
    border-radius: 50%;
    margin-right: 2rem;
  }

  &-img {
    height: 100%;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }

  &-name {
    font-size: 2rem;
  }

}
