<!-- NAVBAR -->
<app-navbar [status]="'end'"
            [route]="'/userTeams'"
            [showBack]="true"></app-navbar>

<div class="container animated fadeIn">

  <h3 class="main-title mb-5">Rellenar partido</h3>

  <div class="select-container mb-5">
    <form [formGroup]="selectForm">
      <select formControlName="match"
              class="select-form">
        <option value=""
                selected="selected"
                disabled>Selecciona un partido</option>
        <option *ngFor="let game of games"
                [ngValue]="game.matchId">
          {{game.rivalTeam}} - {{game.matchDate | date:'dd/MM/yyyy'}}
        </option>
      </select>
    </form>
  </div>

  <div class="table-form"
       *ngIf="selectForm.controls.match.value !==''">
    <app-team-game [form]="tableForm"></app-team-game>
  </div>

  <div class="players-form"
       *ngIf="playersForm">
    <app-player-game *ngFor="let onePlayerForm of playersForm"
                     [onePlayerForm]="onePlayerForm"></app-player-game>
  </div>

  <div class="buttons" *ngIf="selectForm.controls.match.value !==''">
      <a class="btn btn-pink btn-shadow m-2"
         [routerLink]="['/user-teams']">Cancelar</a>
      <button class="btn btn-dark btn-shadow m-2"
              (click)="onSaveGame()"
              [disabled]="!tableForm.valid">Guardar</button>
  </div>

</div>



<!--FOOTER-->
<app-footer></app-footer>
