@import 'variables.scss';

.container {
  background-color: $color-light-blue;
  padding: 8rem;
  min-height: 60vh;
}

.main-title {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

.hr {
  border-color: black;
  border-width: 2px;
}

.select {

  &-container {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  &-form {
    display: block;
    height: 4rem;
    width: 30rem;
    background-color: $color-dark-blue;
    border: 3px solid $color-dark-pink;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

}

@media (max-width: 1024px) {
  .container {
    padding: 6rem;
  }
}
