@import 'variables.scss';

.container {
  background-color: $color-light-blue;
  padding: 8rem;
  min-height: 60vh;
}

.main-title {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

.hr {
  border-color: black;
  border-width: 2px;
}

.select {

  &-container {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  &-form {
    display: block;
    height: 6rem;
    width: 40rem;
    background-color: $color-dark-blue;
    border: 3px solid $color-dark-pink;
    border-radius: .5rem;
    font-size: 2.7rem;
    font-weight: bold;
    color: white;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

}

@media (max-width: 1024px) {
  .container {
    padding: 6rem;
  }

  .select {

    &-form {
      width: 25rem;
      font-size: 1.8rem;
    }
  }

  .main-title {
    font-size: 4rem;
  }
}

@media (max-width: 800px) {
  .container {
    min-height: 65vh;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 3rem;
  }

  .select {

    &-form {
      width: 23rem;
      font-size: 1.6rem;
    }
  }

  .main-title {
    font-size: 3rem;
  }
}

@media (max-width: 550px) {
  .container {
    min-height: 70vh;
  }
}
