<!-- NAVBAR -->
<app-navbar [status]="'end'"
            [route]="'/userTeams'"
            [showBack]="true"></app-navbar>

<div class="container animated fadeIn">

  <h3 class="main-title mb-5">Rellenar partido</h3>

  <div class="select-container mb-5">
    <form [formGroup]="selectForm">
      <select formControlName="match" class="select-form" (change)="onChangeSelect()">
        <option value selected="selected" disabled>Selecciona un partido</option>
        <option *ngFor="let game of games" value="{{game.matchId}}" >
          {{game.rivalTeam}} - {{game.matchDate | date:'dd/MM/yyyy'}}
        </option>
      </select>
    </form>
  </div>

  <app-player-game *ngFor="let playerForm of playersForm" [form] = "playerForm"></app-player-game>

</div>



<!--FOOTER-->
<app-footer></app-footer>
