@import 'variables.scss';


.container{
  padding: 5rem;
  background-color: $color-light-blue;
}

.team-info{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.team-form{
  &-container_img{
    width: 20rem;
    height: 20rem;
    border: 5px solid #212428;
    border-radius: 50%;
  }

  &-img{
    height: 100%;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}

.team-games{
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem;
  background: linear-gradient(to right bottom, #264c72 50%, #2f3c49 100%);
  color: white;
  border: 5px solid $color-dark-pink;

  &-title{
    font-size: 4rem;
    font-style: italic;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.team-nextgame{
  font-size: 2.5rem;
}

.average{
  margin: 15rem 0;
  width: 100%;
  height: 30rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;


  &-table{
    border: 5px solid $color-dark-pink;
  }
}

table{
  border-spacing: 0;;
}

table, th, td{
  border-collapse: collapse;
}

th{
  text-transform: uppercase;
  background: linear-gradient(to right bottom, #264c72 50%, #2f3c49 100%);
}

td{
  font-size: 4rem;
  background-color: rgba(59, 85, 111, 0.438);
  font-weight: bold;
}

td:not(:last-child),
th:not(:last-child){
  border-right: 4px solid black;
}

th,td{
  padding: 2rem;
  text-align: center;
  width: 22rem;
  height: 20rem;
}

