@import 'variables.scss';


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all .3s;

  &:visited {
    color: white;
  }
}

/*BUTTON*/

.btn {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  color: white;
  text-align: center;
  min-width: 11rem;
  cursor: pointer;
  transition: all .3s;
}

.btn:active,
.btn:visited {
  text-decoration: none;
}

.btn-dark {
  background-color: #3b556f;
}

.btn-dark:hover {
  background-color: rgba(94, 118, 143, 0.8);
}

.btn-light {
  background-color: #60ccf3;
  border: 2px solid #60ccf3;
}

.btn-light:hover {
  background-color: rgba(58, 191, 240, 0.8);
  border-color: rgba(58, 191, 240, 0.8);
}

.btn-light-empty {
  border: 2px solid $color-light-blue;
}

.btn-light-empty:hover {
  background-color: $color-light-blue;
}

.btn-pink {
  background-color: $color-light-pink;
  border: 2px solid $color-light-pink;
}

.btn-pink:hover {
  background-color: white;
  color: black;
}

/*MARGINS*/
.mb-2{
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.m-2 {
  margin: 2rem;
}

/*INPUT*/
.input {
  border-radius: 5px;
  border: 3px solid #dbdbdb;
  padding: 0.5rem;
  font-size: 1.8rem;
  outline-offset: 0px !important;
  outline: none !important;
}

.input-blue{
  border-color: $color-light-blue;
}

.input-pink{
  border-color: $color-light-pink;
}


//ANIMACIONES

.animated {
  animation-duration: 0.5s;
  /* animation-fill-mode: both; */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    left: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    left: 100%;
  }

  to {
    opacity: 1;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.alert {

  &-popup {
    font-size: 1.5rem !important;
  }

  &-title {
    font-size: 2.5rem !important;
  }

  &-confirmButton {
    width: 6rem !important;
    height: 4rem !important;
  }

}

/*LOGO*/

.logo {
  display: flex;
  align-items: center;

  &-img {
    width: 5rem;
    height: 5rem;
  }

  &-title {
    font-family: 'Ranchers', cursive;
    color: $color-white;
    text-transform: uppercase;
    margin-left: 1rem;
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .logo {
    &-img{
      width: 4rem;
      height: 4rem;
    }
    &-title{
      font-size: 2rem;
    }
  }
  .btn {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  .logo {
    &-img {
      width: 3rem;
      height: 3rem;
    }

    &-title {
      font-size: 1.7rem;
    }
  }

  .btn{
    padding: 0.5rem;
    font-size: 1.2rem;
    min-width: 6rem;
    border-radius: 0.5rem;
  }
}
