$color-white: #ffffff;
$color-black: #000000;
$color-light-grey: #dbdbdb;
$color-dark-blue: #3b556f;
$color-dark-blue2: rgba(59, 85, 111, 0.8);
$color-light-blue: #60ccf3;
$color-light-blue2: rgba(96, 204, 243, 0.8);
$color-dark-black: #212428;
$color-light-black: #3d3d3d;
$color-light-pink: #dd5790;
$color-dark-pink: #da387d;
