  <app-navbar [status]="'start'"></app-navbar>

  <div class="home-container animated fadeIn">

    <header class="header mb-5">
      <div class="header-left-side">
        <h1 class="header-main-title mb-5">Lleva a tu equipo al siguiente nivel</h1>
        <div class="header-paragraph-container">
           <p class="header-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eum atque ab
            vel culpa odio deleniti dolores. Quae, quibusdam exercitationem ipsa, nihil modi optio fugiat et repudiandae
            suscipit quod voluptas! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur voluptatem
            repudiandae delectus nobis autem dignissimos accusantium, error reiciendis minus?
          </p>
        </div>
      </div>
      <div class="header-right-side">
        <img src="/assets/img/basketball-player.jpg"
             alt="basketball player"
             class="header--img">
      </div>
    </header>

    <section class="section">
      .
    </section>

    <app-footer></app-footer>

  </div>
