<app-navbar [status]="'start'"></app-navbar>

<div class="home-container animated fadeIn">

  <header class="header">
    <div class="header-left-side">
      <h1 class="header-main-title mb-5">Lleva a tu equipo al siguiente nivel</h1>
      <div class="header-paragraph-container">
        <p class="header-paragraph"><span class="appName">sportstats</span> surge como una opción para que entrenadores amateur que quieren
          analizar de forma más profunda los resultados de sus equipos para actuar sobre los puntos débiles y mejorar así el rendimiento
          de los mismos. Aquí podrás ver de forma precisa cuáles son las áreas a mejorar de cada jugador y en general de tus equipos.
        </p>
      </div>
    </div>
    <div class="header-right-side">
      <img src="/assets/img/basketball-player.jpg"
           alt="basketball player"
           class="header--img">
    </div>
  </header>

  <section class="section">
    <div class="section-img">
      <img src="../../assets/img/football-tactics.jpeg"
           alt="Fútbol"
           class="section-img__img">
    </div>

    <div class="section-paragraph">
      <h3 class="section-paragraph__title">Analiza a tu equipo</h3>
      <p class="section-paragraph__paragraph">
        A través de la aplicación podrás ver gráficas autogeneradas que muestran con claridad el
        estado actual de tus jugadores y equipo. Introduce los datos de tus partidos y la aplicación
        te proporcionará gráficos detallados.
      </p>
    </div>
  </section>

  <app-footer></app-footer>

</div>
