<footer class="footer">
  <div class="logo">
    <a routerLink="/">
      <img src="/assets/img/logo.svg"
           alt="logo"
           class="logo-img">
    </a>
    <h2 class="logo-title">sportstats</h2>
  </div>
  <hr class="hr-footer">
  <div class="privacy-social">
    <div class="social">
      <div class="social-text">
        <h3 class="social-title">&copy; sportstats</h3>
      </div>
      <div class="social-logos">
        <a href="#"><img src="/assets/img/logo/Facebook.svg"
               class="social-logo animated"></a>
        <a href="#"><img src="/assets/img/logo/Twitter.svg"
               class="social-logo animated"></a>
        <a href="#"><img src="/assets/img/logo/Instagram.svg"
               class="social-logo animated"></a>
      </div>
    </div>
    <div class="privacy">
      <p class="privacy-text">Aviso legal</p>
      <p class="privacy-text">Política de privacidad</p>
      <p class="privacy-text">Política de cookies</p>
      <p class="privacy-text"><span class="privacy-designer">Diseñador web</span> Alberto Ruiz Gil</p>
    </div>
  </div>
</footer>
