<form [formGroup]="form"
      class="match mb-2 animatedSlow appear">

  <div *ngIf="showDelete" class="delete">
    <button class="delete-btn"
            (click)="deleteBtnClick()"><span class="delete-icon"></span></button>
  </div>

  <div class="matches-field mb-5">
    <div class="match-data">
      <label for="rivalTeam"
             class="match-label">Nombre del equipo rival</label>
      <input type="text"
             name="rivalTeam"
             formControlName="rivalTeam"
             class="input match-input" />
    </div>
    <div class="match-data">
      <label for="matchDate"
             class="match-label">Fecha del partido</label>
      <input type="date"
             name="matchDate"
             formControlName="matchDate"
             class="input match-input" />
    </div>
  </div>

  <span class="error">
    Debe rellenar todos los campos
  </span>

</form>
