.matches {

  &-data {
    display: flex;
    flex-direction: column;
  }

  &-field {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
  }
}

.delete {
  display: flex;
  flex-direction: row-reverse;

  &-btn {
    width: 30px;
    height: 30px;
    background-image: url('/assets/img/cross.svg');
    background-size: 25px;
    background-position: center;
    border: none;
    background-color: #dd5790;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #da387d;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }
}

.match {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: 3px solid black;
  background-color: rgb(215, 229, 235);

  &:hover,
  &:focus {
    border-color: #da387d;
  }

  &-data {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-data:not(:last-child) {
    margin-bottom: 1rem;
  }

  &-label {
    font-size: 1.9rem;
    font-weight: bold;
    margin-right: 2rem;
  }

  &-input {

    &:hover,
    &:focus {
      border-color: #da387d;
    }
  }
}

.error {
  color: red;
  font-weight: bold;
  font-size: 1.9rem;
  text-align: right;
}

@media (max-width: 1024px) {
  .match {
    &-label {
      font-size: 1.5rem;
    }

    &-input {
      font-size: 1.6rem;
    }

  }

  .error {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .match {
    &-data {
      flex-direction: column;
      align-items: center;
    }

  }
}
